<template>
    <div class="map-container">
        <div class="map">
            <svg width="100%" height="100%" viewBox="0 0 184 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                <g id="rooms">
                    <rect id="Rear-Bravo-Turret" serif:id="Rear Bravo Turret" x="159" y="73" width="12" height="12"/>
                    <path id="Engine-Room" serif:id="Engine Room" d="M183,28.005l-2,1.241l0,5.553l2,1.242l0,7.941l-2,1.241l0,5.554l2,1.241l0,7.941l-2,1.242l0,5.553l2,1.241l0,5.005l-34,0l0,-50l34,0l0,5.005Z"/>
                    <rect id="Rear-Alpha-Turret" serif:id="Rear Alpha Turret" x="159" y="11" width="12" height="12"/>
                    <rect id="Icarus-Bay" serif:id="Icarus Bay" x="125" y="73" width="34" height="22"/>
                    <rect id="Rear-Bravo-Storage" serif:id="Rear Bravo Storage" x="125" y="61" width="24" height="12"/>
                    <rect id="Rear-Alpha-Storage" serif:id="Rear Alpha Storage" x="125" y="23" width="24" height="12"/>
                    <rect id="Rear-Corridor" serif:id="Rear Corridor" x="119" y="23" width="6" height="60"/>
                    <rect id="Alpha-Bay-2" serif:id="Alpha Bay 2" x="117" y="1" width="42" height="22"/>
                    <path id="Bravo-Dorm" serif:id="Bravo Dorm" d="M119,73l-20,0l0,-14l6,0l0,-4l14,0l0,18Z"/>
                    <rect id="Nexus" x="105" y="41" width="14" height="14"/>
                    <path id="Alpha-Dorm" serif:id="Alpha Dorm" d="M119,23l-20,0l0,14l6,0l0,4l14,0l0,-18Z"/>
                    <rect id="Centre-Bravo-Storage" serif:id="Centre Bravo Storage" x="83" y="59" width="16" height="14"/>
                    <rect id="Refectory" x="83" y="37" width="22" height="22"/>
                    <rect id="Centre-Alpha-Storage" serif:id="Centre Alpha Storage" x="83" y="23" width="16" height="14"/>
                    <rect id="Bravo-Bay" serif:id="Bravo Bay" x="75" y="73" width="44" height="22"/>
                    <rect id="Centre-Corridor" serif:id="Centre Corridor" x="77" y="23" width="6" height="50"/>
                    <rect id="Alpha-Bay" serif:id="Alpha Bay" x="75" y="1" width="42" height="22"/>
                    <rect id="Centre-Bravo-Turret" serif:id="Centre Bravo Turret" x="63" y="73" width="12" height="12"/>
                    <rect id="Medlab" x="54.983" y="51" width="22" height="22"/>
                    <rect id="Front-Storage" serif:id="Front Storage" x="55" y="23" width="22" height="22"/>
                    <rect id="Centre-Alpha-Turret" serif:id="Centre Alpha Turret" x="63" y="11" width="12" height="12"/>
                    <rect id="Laboratory" x="33" y="51" width="22" height="22"/>
                    <rect id="Hydroponic-Garden" serif:id="Hydroponic Garden" x="33" y="23" width="22" height="22"/>
                    <path id="Front-Corridor" serif:id="Front Corridor" d="M33,71l-6,0l0,-46l6,0l0,20l44,0l0,6l-44,0l0,20Z"/>
                    <rect id="Front-Bravo-Turret" serif:id="Front Bravo Turret" x="15" y="61" width="12" height="12"/>
                    <path id="Bridge" d="M6,42.121l0,-7.121l21,0l0,26l-21,0l0,-7.121l-5,-3.102l0,-5.554l5,-3.102Z"/>
                    <rect id="Front-Alpha-Turret" serif:id="Front Alpha Turret" x="15" y="23" width="12" height="12"/>
                </g>
                <g id="doors">
                    <path id="Engine-Room---Rear-Bravo-Turret" serif:id="Engine Room - Rear Bravo Turret" d="M162.452,73.026l3,-0"/>
                    <path id="Rear-Alpha-Turret---Engine-Room" serif:id="Rear Alpha Turret - Engine Room" d="M162.452,22.99l3,-0"/>
                    <path id="Icarus-Bay---Rear-Bravo-Turret" serif:id="Icarus Bay - Rear Bravo Turret" d="M158.967,76.522l-0,3"/>
                    <path id="Alpha-Bay-2---Rear-Alpha-Turret" serif:id="Alpha Bay 2 - Rear Alpha Turret" d="M158.967,16.5l-0,3"/>
                    <path id="Icarus-Bay---Engine-Room" serif:id="Icarus Bay - Engine Room" d="M152.467,73.026l3,-0"/>
                    <path id="Alpha-Bay-2---Engine-Room" serif:id="Alpha Bay 2 - Engine Room" d="M152.467,22.99l3,-0"/>
                    <path id="Rear-Bravo-Storage---Engine-Room" serif:id="Rear Bravo Storage - Engine Room" d="M148.957,64.5l0,3"/>
                    <path id="Rear-Alpha-Storage---Engine-Room" serif:id="Rear Alpha Storage - Engine Room" d="M148.957,27.452l0,3"/>
                    <path id="Rear-Corridor---Icarus-Bay" serif:id="Rear Corridor - Icarus Bay" d="M125.013,76.522l-0,3"/>
                    <path id="Rear-Corridor---Rear-Bravo-Storage" serif:id="Rear Corridor - Rear Bravo Storage" d="M125.013,64.5l-0,3"/>
                    <path id="Rear-Corridor---Rear-Alpha-Storage" serif:id="Rear Corridor - Rear Alpha Storage" d="M125.013,27.452l-0,3"/>
                    <path id="Alpha-Bay-2---Rear-Corridor" serif:id="Alpha Bay 2 - Rear Corridor" d="M120.469,22.99l3,-0"/>
                    <path id="Bravo-Bay---Rear-Corridor" serif:id="Bravo Bay - Rear Corridor" d="M119,76.522l0,3"/>
                    <path id="Bravo-Dorm---Rear-Corridor" serif:id="Bravo Dorm - Rear Corridor" d="M119,64.5l0,3"/>
                    <path id="Nexus---Rear-Corridor" serif:id="Nexus - Rear Corridor" d="M118.97,46.5l0,3"/>
                    <path id="Alpha-Dorm---Rear-Corridor" serif:id="Alpha Dorm - Rear Corridor" d="M119,27.452l0,3"/>
                    <path id="Alpha-Bay---Alpha-Bay-2" serif:id="Alpha Bay - Alpha Bay 2" d="M116.983,16.5l0,3"/>
                    <path id="Bravo-Bay---Bravo-Dorm" serif:id="Bravo Bay - Bravo Dorm" d="M102.538,73.026l3,-0"/>
                    <path id="Alpha-Bay---Alpha-Dorm" serif:id="Alpha Bay - Alpha Dorm" d="M102.538,22.99l3,-0"/>
                    <path id="Bravo-Bay---Centre-Bravo-Storage" serif:id="Bravo Bay - Centre Bravo Storage" d="M86.539,73.026l3,-0"/>
                    <path id="Alpha-Bay---Centre-Alpha-Storage" serif:id="Alpha Bay - Centre Alpha Storage" d="M86.539,22.99l3,-0"/>
                    <path id="Centre-Corridor---Refectory" serif:id="Centre Corridor - Refectory" d="M83,46.5l0,3"/>
                    <path id="Centre-Corridor---Bravo-Bay" serif:id="Centre Corridor - Bravo Bay" d="M78.486,73.026l3,-0"/>
                    <path id="Alpha-Bay---Centre-Corridor" serif:id="Alpha Bay - Centre Corridor" d="M78.486,22.99l3,-0"/>
                    <path id="Front-Corridor---Centre-Corridor" serif:id="Front Corridor - Centre Corridor" d="M77.036,46.5l0,3"/>
                    <path id="Centre-Bravo-Turret---Bravo-Bay" serif:id="Centre Bravo Turret - Bravo Bay" d="M75,76.522l0,3"/>
                    <path id="Centre-Alpha-Turret----Alpha-Bay" serif:id="Centre Alpha Turret -  Alpha Bay" d="M75,16.5l0,3"/>
                    <path id="Medlab---Centre-Bravo-Turret" serif:id="Medlab - Centre Bravo Turret" d="M68.5,73.026l3,-0"/>
                    <path id="Centre-Alpha-Turret---Front-Storage" serif:id="Centre Alpha Turret - Front Storage" d="M68.5,22.99l3,-0"/>
                    <path id="Front-Corridor---Medlab" serif:id="Front Corridor - Medlab" d="M58.51,51.014l3,0"/>
                    <path id="Front-Corridor---Front-Storage" serif:id="Front Corridor - Front Storage" d="M58.51,45.001l3,0"/>
                    <path id="Laboratory---Medlab" serif:id="Laboratory - Medlab" d="M55.025,54.499l-0,3"/>
                    <path id="Hydroponic-Garden---Front-Storage" serif:id="Hydroponic Garden - Front Storage" d="M55.025,38.5l-0,3"/>
                    <path id="Front-Corridor---Laboratory" serif:id="Front Corridor - Laboratory" d="M48.525,51.014l3,0"/>
                    <path id="Front-Corridor---Hydroponic-Garden" serif:id="Front Corridor - Hydroponic Garden" d="M48.525,45.001l3,0"/>
                    <path id="Front-Bravo-Turret---Front-Corridor" serif:id="Front Bravo Turret - Front Corridor" d="M27,64.539l0,3"/>
                    <path id="Bridge---Front-Corridor" serif:id="Bridge - Front Corridor" d="M27,46.5l0,3"/>
                    <path id="Front-Alpha-Turret---Front-Corridor" serif:id="Front Alpha Turret - Front Corridor" d="M27,28.5l0,3"/>
                    <path id="Bridge---Front-Bravo-Turret" serif:id="Bridge - Front Bravo Turret" d="M20.5,61l3,0"/>
                    <path id="Bridge---Front-Alpha-Turret" serif:id="Bridge - Front Alpha Turret" d="M20.5,35.015l3,0"/>
                </g>
                <g id="broken-equipment">
                    <g id="Rear-Bravo-Turret1" serif:id="Rear Bravo Turret">
                        <g id="Turret-Command" serif:id="Turret Command">
                            <rect class="floor" x="164" y="78" width="6" height="6"/>
                            <path class="wall" d="M171,78l-0,7l-7,0"/>
                        </g>
                    </g>
                    <g id="Engine-Room1" serif:id="Engine Room">
                        <g id="Reactor-3" serif:id="Reactor 3">
                            <path class="floor" serif:id="floor" d="M179.958,67l0,-6l-6,-0l0,6l6,0Z"/>
                            <path class="wall" serif:id="wall" d="M180.958,61l0,6"/>
                        </g>
                        <g id="Reactor-2" serif:id="Reactor 2">
                            <path class="floor" serif:id="floor" d="M179.958,51l0,-6l-6,0l0,6l6,0Z"/>
                            <path class="wall" serif:id="wall" d="M180.958,45l0,6"/>
                        </g>
                        <g id="Reactor-1" serif:id="Reactor 1">
                            <path class="floor" serif:id="floor" d="M179.958,35l0,-6l-6,0l0,6l6,0Z"/>
                            <path class="wall" serif:id="wall" d="M180.958,29l0,6"/>
                        </g>
                        <g id="Planet-Scanner" serif:id="Planet Scanner">
                            <rect class="floor" serif:id="floor" x="170" y="68" width="6" height="4"/>
                            <path class="wall" serif:id="wall" d="M176,73l-6,0"/>
                        </g>
                        <g id="Antenna">
                            <rect class="floor" serif:id="floor" x="170" y="24" width="6" height="4"/>
                            <path class="wall" serif:id="wall" d="M170,23l6,0"/>
                        </g>
                        <g id="Combustion-Chamber" serif:id="Combustion Chamber">
                            <rect class="floor" serif:id="floor" x="158" y="58" width="8" height="8"/>
                        </g>
                        <g id="Auxiliary-NERON-Terminal" serif:id="Auxiliary NERON Terminal">
                            <rect class="floor" serif:id="floor" x="157" y="24" width="4" height="4"/>
                            <path class="wall" serif:id="wall" d="M157,23l4,0"/>
                        </g>
                    </g>
                    <g id="Rear-Alpha-Turret1" serif:id="Rear Alpha Turret">
                        <g id="Turret-Command1" serif:id="Turret Command">
                            <path class="floor" serif:id="floor" d="M170,18l-0,-6l-6,-0l-0,6l6,-0Z"/>
                            <path class="wall" serif:id="wall" d="M164,11l7,0l0,7"/>
                        </g>
                    </g>
                    <g id="Icarus-Bay1" serif:id="Icarus Bay">
                        <g id="Icarus">
                            <rect class="floor" serif:id="floor" x="130.958" y="81" width="22" height="13"/>
                            <path class="wall" serif:id="wall" d="M152.958,95l-22,0"/>
                        </g>
                    </g>
                    <g id="Rear-Bravo-Storage1" serif:id="Rear Bravo Storage">
                        <g id="Fuel-Tank" serif:id="Fuel Tank">
                            <rect class="floor" serif:id="floor" x="128" y="68" width="6" height="4"/>
                            <path class="wall" serif:id="wall" d="M134,73l-6,-0"/>
                        </g>
                    </g>
                    <g id="Rear-Alpha-Storage1" serif:id="Rear Alpha Storage">
                        <g id="Fuel-Tank1" serif:id="Fuel Tank">
                            <rect class="floor" serif:id="floor" x="128" y="24" width="6" height="4"/>
                            <path class="wall" serif:id="wall" d="M128,23l6,0"/>
                        </g>
                    </g>
                    <g id="Alpha-Bay-21" serif:id="Alpha Bay 2">
                        <g id="Pasiphae">
                            <rect class="floor" serif:id="floor" x="146" y="2" width="10" height="14"/>
                            <path class="wall" serif:id="wall" d="M146,1l10,0"/>
                        </g>
                        <g id="Patrol-Ship-8" serif:id="Patrol Ship 8">
                            <rect class="floor" serif:id="floor" x="134" y="2" width="10" height="12"/>
                            <path class="wall" serif:id="wall" d="M134,1l10,0"/>
                        </g>
                        <g id="Patrol-Ship-7" serif:id="Patrol Ship 7">
                            <rect class="floor" serif:id="floor" x="121.958" y="2" width="10" height="12"/>
                            <path class="wall" serif:id="wall" d="M121.958,1l10,0"/>
                        </g>
                        <g id="Jukebox">
                            <path class="floor" serif:id="floor" d="M117.958,9l0,4l4,0l0,-4l-4,0Z"/>
                            <path class="wall" serif:id="wall" d="M116.958,13l0,-4"/>
                        </g>
                    </g>
                    <g id="Bravo-Dorm1" serif:id="Bravo Dorm">
                        <g id="Shower">
                            <path class="floor" serif:id="floor" d="M100,64l0,4l4,0l0,-4l-4,0Z"/>
                            <path class="wall" serif:id="wall" d="M99,68l0,-4"/>
                        </g>
                    </g>
                    <g id="Nexus1" serif:id="Nexus">
                        <g id="BIOS-Terminal" serif:id="BIOS Terminal">
                            <rect class="floor" serif:id="floor" x="111.983" y="42" width="4" height="4"/>
                            <path class="wall" serif:id="wall" d="M111.983,41l4,0"/>
                            <rect class="floor" serif:id="floor" x="112" y="50" width="4" height="4"/>
                            <path class="wall" serif:id="wall" d="M116,55l-4,0"/>
                        </g>
                        <g id="NERON-Core" serif:id="NERON Core">
                            <path class="floor" serif:id="floor" d="M106,44l0,8l4,0l0,-8l-4,-0Z"/>
                            <path class="wall" serif:id="wall" d="M105,52l0,-8"/>
                        </g>
                    </g>
                    <g id="Alpha-Dorm1" serif:id="Alpha Dorm">
                        <g id="Shower1" serif:id="Shower">
                            <path class="floor" serif:id="floor" d="M100,28l0,4l4,0l0,-4l-4,0Z"/>
                            <path class="wall" serif:id="wall" d="M99,32l0,-4"/>
                        </g>
                    </g>
                    <g id="Bravo-Bay1" serif:id="Bravo Bay">
                        <g id="Patrol-Ship-6" serif:id="Patrol Ship 6">
                            <rect class="floor" serif:id="floor" x="103.958" y="82" width="10" height="12"/>
                            <path class="wall" serif:id="wall" d="M113.958,95l-10,0"/>
                        </g>
                        <g id="Patrol-Ship-5" serif:id="Patrol Ship 5">
                            <rect class="floor" serif:id="floor" x="91.958" y="82" width="10" height="12"/>
                            <path class="wall" serif:id="wall" d="M101.958,95l-10,0"/>
                        </g>
                        <g id="Patrol-Ship-4" serif:id="Patrol Ship 4">
                            <rect class="floor" serif:id="floor" x="80" y="82" width="10" height="12"/>
                            <path class="wall" serif:id="wall" d="M90,95l-10,0"/>
                        </g>
                    </g>
                    <g id="Centre-Bravo-Storage1" serif:id="Centre Bravo Storage">
                        <g id="Oxygen-Tank" serif:id="Oxygen Tank">
                            <path class="floor" serif:id="floor" d="M98,68l-0,-6l-4,0l-0,6l4,0Z"/>
                            <path class="wall" serif:id="wall" d="M99,62l0,6"/>
                        </g>
                    </g>
                    <g id="Refectory1" serif:id="Refectory">
                        <g id="Coffee-Machine" serif:id="Coffee Machine">
                            <path class="floor" serif:id="floor" d="M84,52l0,4l4,0l0,-4l-4,0Z"/>
                            <path class="wall" serif:id="wall" d="M83,56l0,-4"/>
                        </g>
                        <g id="Kitchen">
                            <rect class="floor" serif:id="floor" x="84" y="38" width="20" height="4"/>
                            <path class="wall" serif:id="wall" d="M84,37l20,-0"/>
                        </g>
                    </g>
                    <g id="Centre-Alpha-Storage1" serif:id="Centre Alpha Storage">
                        <g id="Oxygen-Tank1" serif:id="Oxygen Tank">
                            <path class="floor" serif:id="floor" d="M84,28l0,6l4,0l0,-6l-4,0Z"/>
                            <path class="wall" serif:id="wall" d="M83,34l0,-6"/>
                        </g>
                    </g>
                    <g id="Alpha-Bay1" serif:id="Alpha Bay">
                        <g id="Patrol-Ship-3" serif:id="Patrol Ship 3">
                            <rect class="floor" serif:id="floor" x="102.958" y="2" width="10" height="12"/>
                            <path class="wall" serif:id="wall" d="M102.958,1l10,0"/>
                        </g>
                        <g id="Patrol-Ship-2" serif:id="Patrol Ship 2">
                            <rect class="floor" serif:id="floor" x="91" y="2" width="10" height="12"/>
                            <path class="wall" serif:id="wall" d="M91,1l10,0"/>
                        </g>
                        <g id="Patrol-Ship-1" serif:id="Patrol Ship 1">
                            <rect class="floor" serif:id="floor" x="79" y="2" width="10" height="12"/>
                            <path class="wall" serif:id="wall" d="M79,1l10,0"/>
                        </g>
                    </g>
                    <g id="Centre-Bravo-Turret1" serif:id="Centre Bravo Turret">
                        <g id="Turret-Command2" serif:id="Turret Command">
                            <path class="floor" serif:id="floor" d="M64,78l0,6l6,0l0,-6l-6,0Z"/>
                            <path class="wall" serif:id="wall" d="M70,85l-7,-0l0,-7"/>
                        </g>
                    </g>
                    <g id="Medlab1" serif:id="Medlab">
                        <g id="Auxiliary-NERON-Terminal1" serif:id="Auxiliary NERON Terminal">
                            <rect class="floor" serif:id="floor" x="69.983" y="52" width="4" height="4"/>
                            <path class="wall" serif:id="wall" d="M69.983,51l4,-0"/>
                        </g>
                        <g id="Surgery-Pod" serif:id="Surgery Pod">
                            <path class="floor" serif:id="floor" d="M56,64l0,8l4,0l0,-8l-4,0Z"/>
                            <path class="wall" serif:id="wall" d="M55,72l0,-8"/>
                        </g>
                    </g>
                    <g id="Centre-Alpha-Turret1" serif:id="Centre Alpha Turret">
                        <g id="Turret-Command3" serif:id="Turret Command">
                            <rect class="floor" serif:id="floor" x="64" y="12" width="6" height="6"/>
                            <path class="wall" serif:id="wall" d="M63,18l0,-7l7,0"/>
                        </g>
                    </g>
                    <g id="Laboratory1" serif:id="Laboratory">
                        <g id="Mycoscan">
                            <path class="floor" serif:id="floor" d="M46,60l0,8l6,0l0,-8l-6,0Z"/>
                        </g>
                        <g id="Gravity-Simulator" serif:id="Gravity Simulator">
                            <rect class="floor" serif:id="floor" x="42" y="52" width="4" height="4"/>
                            <path class="wall" serif:id="wall" d="M41.983,51l4,-0"/>
                        </g>
                        <g id="Research-Lab" serif:id="Research Lab">
                            <path class="floor" serif:id="floor" d="M34,64l0,8l4,0l0,-8l-4,0Z"/>
                            <path class="wall" serif:id="wall" d="M33,72l-0,-8"/>
                        </g>
                    </g>
                    <g id="Bridge1" serif:id="Bridge">
                        <g id="AstroTerminal">
                            <path class="floor" serif:id="floor" d="M7,54l0,6l9,-0l-0,-6l-9,-0Z"/>
                            <path class="wall" serif:id="wall" d="M16,61l-10,-0l0,-7"/>
                        </g>
                        <g id="Command-Terminal" serif:id="Command Terminal">
                            <path class="floor" serif:id="floor" d="M2,44l0,8l12,0l0,-8l-12,0Z"/>
                            <path class="wall" serif:id="wall" d="M1,52l-0,-8"/>
                        </g>
                        <g id="Comms-Center" serif:id="Comms Center">
                            <rect class="floor" serif:id="floor" x="7" y="36" width="9" height="6"/>
                            <path class="wall" serif:id="wall" d="M6,42l0,-7l10,-0"/>
                        </g>
                        <g id="Front-BravoTurret" serif:id="Front BravoTurret">
                            <g id="Turret-Command4" serif:id="Turret Command">
                                <path class="floor" serif:id="floor" d="M16,66l-0,6l6,0l-0,-6l-6,0Z"/>
                                <path class="wall" serif:id="wall" d="M22,73l-7,0l-0,-7"/>
                            </g>
                        </g>
                    </g>
                    <g id="Front-Alpha-Turret1" serif:id="Front Alpha Turret">
                        <g id="Turret-Command5" serif:id="Turret Command">
                            <rect class="floor" serif:id="floor" x="16" y="24" width="6" height="6"/>
                            <path class="wall" serif:id="wall" d="M15,30l0,-7l7,-0"/>
                        </g>
                    </g>
                </g>
                <g id="broken-cameras">
                    <g id="Rear-Bravo-Turret2" serif:id="Rear Bravo Turret">
                        <g class="cam">
                            <path d="M162,76l4,4"/>
                            <path d="M162,80l4,-4"/>
                        </g>
                    </g>
                    <g id="Engine-Room2" serif:id="Engine Room">
                        <g class="cam" serif:id="cam">
                            <path d="M162,46l4,4"/>
                            <path d="M162,50l4,-4"/>
                        </g>
                    </g>
                    <g id="Rear-Alpha-Turret2" serif:id="Rear Alpha Turret">
                        <g class="cam" serif:id="cam">
                            <path d="M162,16l4,4"/>
                            <path d="M162,20l4,-4"/>
                        </g>
                    </g>
                    <g id="Icarus-Bay2" serif:id="Icarus Bay">
                        <g class="cam" serif:id="cam">
                            <path d="M140,77l4,4"/>
                            <path d="M140,81l4,-4"/>
                        </g>
                    </g>
                    <g id="Rear-Bravo-Storage2" serif:id="Rear Bravo Storage">
                        <g class="cam" serif:id="cam">
                            <path d="M137,65l4,4"/>
                            <path d="M137,69l4,-4"/>
                        </g>
                    </g>
                    <g id="Rear-Alpha-Storage2" serif:id="Rear Alpha Storage">
                        <g class="cam" serif:id="cam">
                            <path d="M137,27l4,4"/>
                            <path d="M137,31l4,-4"/>
                        </g>
                    </g>
                    <g id="Rear-Corridor1" serif:id="Rear Corridor">
                        <g class="cam" serif:id="cam">
                            <path d="M120,39l4,4"/>
                            <path d="M120,43l4,-4"/>
                        </g>
                    </g>
                    <g id="Alpha-Bay-22" serif:id="Alpha Bay 2">
                        <g class="cam" serif:id="cam">
                            <path d="M137,14l4,4"/>
                            <path d="M137,18l4,-4"/>
                        </g>
                    </g>
                    <g id="Bravo-Dorm2" serif:id="Bravo Dorm">
                        <g class="cam" serif:id="cam">
                            <path d="M108,62l4,4"/>
                            <path d="M108,66l4,-4"/>
                        </g>
                    </g>
                    <g id="Nexus2" serif:id="Nexus">
                        <g class="cam" serif:id="cam">
                            <path d="M109.962,46l4,4"/>
                            <path d="M109.962,50l4,-4"/>
                        </g>
                    </g>
                    <g id="Alpha-Dorm2" serif:id="Alpha Dorm">
                        <g class="cam" serif:id="cam">
                            <path d="M109,29l4,4"/>
                            <path d="M109,33l4,-4"/>
                        </g>
                    </g>
                    <g id="Centre-Bravo-Storage2" serif:id="Centre Bravo Storage">
                        <g class="cam" serif:id="cam">
                            <path d="M89,64l4,4"/>
                            <path d="M89,68l4,-4"/>
                        </g>
                    </g>
                    <g id="Refectory2" serif:id="Refectory">
                        <g class="cam" serif:id="cam">
                            <path d="M92,46l4,4"/>
                            <path d="M92,50l4,-4"/>
                        </g>
                    </g>
                    <g id="Centre-Alpha-Storage2" serif:id="Centre Alpha Storage">
                        <g class="cam" serif:id="cam">
                            <path d="M89,28l4,4"/>
                            <path d="M89,32l4,-4"/>
                        </g>
                    </g>
                    <g id="Bravo-Bay2" serif:id="Bravo Bay">
                        <g class="cam" serif:id="cam">
                            <path d="M95,78l4,4"/>
                            <path d="M95,82l4,-4"/>
                        </g>
                    </g>
                    <g id="Centre-Corridor1" serif:id="Centre Corridor">
                        <g class="cam" serif:id="cam">
                            <path d="M78,39l4,4"/>
                            <path d="M78,43l4,-4"/>
                        </g>
                    </g>
                    <g id="Alpha-Bay2" serif:id="Alpha Bay">
                        <g class="cam" serif:id="cam">
                            <path d="M94,14l4,4"/>
                            <path d="M94,18l4,-4"/>
                        </g>
                    </g>
                    <g id="Centre-Bravo-Turret2" serif:id="Centre Bravo Turret">
                        <g class="cam" serif:id="cam">
                            <path d="M68,76l4,4"/>
                            <path d="M68,80l4,-4"/>
                        </g>
                    </g>
                    <g id="Medlab2" serif:id="Medlab">
                        <g class="cam" serif:id="cam">
                            <path d="M63.983,60l4,4"/>
                            <path d="M63.983,64l4,-4"/>
                        </g>
                    </g>
                    <g id="Front-Storage1" serif:id="Front Storage">
                        <g class="cam" serif:id="cam">
                            <path d="M64,32l4,4"/>
                            <path d="M64,36l4,-4"/>
                        </g>
                    </g>
                    <g id="Centre-Alpha-Turret2" serif:id="Centre Alpha Turret">
                        <g class="cam" serif:id="cam">
                            <path d="M68,16l4,4"/>
                            <path d="M68,20l4,-4"/>
                        </g>
                    </g>
                    <g id="Laboratory2" serif:id="Laboratory">
                        <g class="cam" serif:id="cam">
                            <path d="M40,59l4,4"/>
                            <path d="M40,63l4,-4"/>
                        </g>
                    </g>
                    <g id="Hydroponic-Garden1" serif:id="Hydroponic Garden">
                        <g class="cam" serif:id="cam">
                            <path d="M42,32l4,4"/>
                            <path d="M42,36l4,-4"/>
                        </g>
                    </g>
                    <g id="Front-Corridor1" serif:id="Front Corridor">
                        <g class="cam" serif:id="cam">
                            <path d="M30,46l4,4"/>
                            <path d="M30,50l4,-4"/>
                        </g>
                    </g>
                    <g id="Front-Bravo-Turret1" serif:id="Front Bravo Turret">
                        <g class="cam" serif:id="cam">
                            <path d="M20,64l4,4"/>
                            <path d="M20,68l4,-4"/>
                        </g>
                    </g>
                    <g id="Bridge2" serif:id="Bridge">
                        <g class="cam" serif:id="cam">
                            <path d="M17,46l4,4"/>
                            <path d="M17,50l4,-4"/>
                        </g>
                    </g>
                    <g id="Front-Alpha-Turret2" serif:id="Front Alpha Turret">
                        <g class="cam" serif:id="cam">
                            <path d="M20,28l4,4"/>
                            <path d="M20,32l4,-4"/>
                        </g>
                    </g>
                </g>
            </svg>
            <!--  <ul class="crew-position">
                <li class="self" />
                <li class="Andie" />
                <li class="Chao" />
                <li class="Chun" />
                <li class="Derek" />
                <li class="Eleesha" />
                <li class="Finola" />
                <li class="Frieda" />
                <li class="Gioele" />
                <li class="Hua" />
                <li class="Ian" />
                <li class="Janice" />
                <li class="Jin" />
                <li class="Kuan" />
                <li class="Paola" />
                <li class="Raluca" />
                <li class="Roland" />
                <li class="Stephen" />
                <li class="Terrence" />
            </ul>  -->
        </div>
        <h3 class="room">Room name</h3>
    </div>
</template>

<style lang="scss" scoped>

.map-container {
    align-self: flex-end;
    z-index: 5;
    bottom: 200px;
    width: 240px;
    height: 200px;
    background: #070724;

    @include corner-bezel(0, 18px, 0);

    transform: scale(0.5);
    transform-origin: bottom left;
    transition: transform 0.5s;

    .map {
        width: 184px;
        height: 96px;
        margin: auto;
        transform: translate(-0.4em, -0.4em) rotate(30deg);

        svg {
            #rooms {
                fill: #133951;
                stroke: #1d5f80;
                stroke-width: 2px;

                .fire {
                    fill: #a6181e;
                }

                & > * {
                    &:hover, &:focus, :active {
                        fill: #3981a8;
                    }
                }
            }

            #doors {
                fill: none;
                pointer-events: none;
                stroke: #12d7ff;
                stroke-width: 2px;

                .broken {
                    stroke: #f8de05;
                }
            }

            #broken-equipment {
                visibility: hidden;
                pointer-events: none;

                .floor {
                    fill: #ff9c00;
                    fill-opacity: 0.3;
                    stroke: none;
                }

                .wall {
                    fill: none;
                    stroke: #ff9c00;
                    stroke-width: 2px;
                    stroke-linecap: butt;
                }
            }

            #broken-cameras {
                visibility: hidden;
                pointer-events: none;
                fill: none;
                stroke: #ffce80;
                stroke-width: 1.8px;
            }
        }

        .crew-position {
            position: absolute;
            pointer-events: none;

            li {
                position: absolute;
                width: 4px;
                height: 4px;
                background: #f88;
                box-shadow: 0 0 2px 1px #133951;

                @for $i from 1 through 19 { // randomize crew position, for testing only
                    &:nth-child(#{$i}) {
                        left: random(156) + 10px;
                        top: random(52) + 18px;
                    }
                }

                &.self {
                    z-index: 2;
                    width: 6px;
                    height: 6px;
                    background: #889c28;
                    animation: self-position-color 1.1s infinite;
                }

                $actopi-color: //defines the color of each crewmate in the minimap when actopi project is active
                    "Andie"    rgb(135, 206, 250),
                    "Chao"     rgb(88 , 99 , 177),
                    "Chun"     rgb(221, 211, 202),
                    "Derek"    rgb(255, 69 , 0  ), //rgb(136, 156, 40) ?
                    "Eleesha"  rgb(208, 133, 0  ),
                    "Finola"   rgb(78 , 169, 182),
                    "Frieda"   rgb(32 , 103, 134),
                    "Gioele"   rgb(221, 112, 42 ),
                    "Hua"      rgb(128, 84 , 65 ),
                    "Ian"      rgb(35 , 124, 104),
                    "Janice"   rgb(180, 71 , 83 ),
                    "Jin"      rgb(192, 48 , 76 ),
                    "Kuan"     rgb(243, 155, 1  ),
                    "Paola"    rgb(255, 154, 250),
                    "Raluca"   rgb(134, 134, 129),
                    "Roland"   rgb(255, 163, 109),
                    "Stephen"  rgb(255, 255, 255),
                    "Terrence" rgb(211, 40 , 55 ),
                ;

                @each $crewmate, $color in $actopi-color {
                    &.#{$crewmate} {
                        background: $color;
                    }
                }
            }
        }
    }

    .room {
        display: none;
        position: absolute;
        bottom: 0;
        z-index: 5;
        margin: 8px 16px;
        font-family: 'Pixel-Square';
        font-size: 10px;
        font-weight: 700;
    }

    &:hover, &:focus, &:focus-within, &:active {
        transform: scale(1);
        transition: transform 0.4s 0.2s;

        .room {
            display: initial;
        }
    }
}


@keyframes self-position-color {
    0% { background: #ff0; }
    39% { background: #ff0; }
    40% { background: #889c28; }
    100% { background: #889c28; }
}

</style>
