.main-container {
    z-index: -2;
    color: #fff;
    flex-grow: 1;
    min-width: 100%;
    min-height: 100%;
    padding-bottom: 5em;
    background: #0f0f43 url("~@/assets/images/bg.jpg") no-repeat center 0;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainmenu {
    display: flex;
    flex-direction: row;
}

.logo {
    height: 100%;
    margin: -0.05em 5em 0.1em 5em;
}

.mainmenu > a {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 11pt;
    color: #dffaff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 0 30px;
}

.tid_shadow {
    top: 0;
    width: 100%;
    height: 10px;
    background-image: url("~@/assets/images/shadow.png");
    background-position: left bottom;
}
